* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-family: "PT Sans Narrow", sans-serif;
}

body {
  background-color: #3ec1d3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15vh;
  text-align: center;
}

input {
  margin-top: 10vh;
  margin-left: 3vh;
}

.Router {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  margin: 1vh;
  padding: 1vh;
  background-color: white;
  font-size: 24px;
}

.Link:visited {
  text-decoration: none;
}

.Link:hover {
  font-size: 25px;
  box-shadow: 1px 1px 2px black;
}

button {
  background-color: white;
  border: 2px solid black;
  padding: 1vh;
  margin: 1vh;
}

button:hover {
  font-size: 23px;
  box-shadow: 1px 1px 2px black;
  cursor: pointer;
}

.frequencyButtons {
  margin-top: 5vh;
}

.frequencyButtons input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.frequencyButtons label {
  display: inline-block;
  padding: 10px 20px;
  margin: 1vh;
  opacity: 90%;
  border: 2px solid black;
}

.frequencyButtons input[type="radio"]:focus + label,
.frequencyButtons input[type="radio"]:checked + label,
.frequencyButtons label:hover {
  opacity: 100%;
  box-shadow: 1px 1px 2px black;
  font-size: 23px;
  cursor: pointer;
}

#soonButton {
  background-color: #f6f7d7;
}

#prettySoonButton {
  background-color: #ff9a00;
}

#notSoonButton {
  background-color: #ff165d;
}
