/* universal app stylings */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-family: 'PT Sans Narrow', sans-serif;
  color: var(--black);

  /* color palette for quick access named by approximate colors */
  --blue: #3ec1d3;
  --white: #f6f7d7;
  --yellow: #ff9a00;
  --pink: #ff165d;
  --brown: #d38d3e;
  --red: #d3433e;
  --black: #1a0807;
  --green: #87d697;
}

@media screen and (max-width: 700px) {
  * {
    font-size: large;
  }
}

h1 {
  font-size: 2rem;
}

body {
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh;
  text-align: center;
  font-size: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

input {
  margin: 3vh;
  width: 80%;
}

a,
a:visited {
  text-decoration: none;
}

.button-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--black);
  border: 2px solid var(--black);
  margin: 1vh;
  padding: 1vh;
  background-color: var(--white);
  font-size: 1rem;
  border-radius: 2px;
}

.button-link:hover {
  font-size: 1.1rem;
  box-shadow: 1px 1px 2px var(--black);
  transition: 0.1s;
  transition-timing-function: ease-in;
  cursor: pointer;
}

/* Home View Specific Styling */

.homeWrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  width: 50vw;
  justify-content: space-around;
}

/* Join List View Specific Styling */

/* List View Specific Styling */

.fetchItems {
  width: 80vw;
}

.delete-button {
  position: absolute;
  top: 7%;
  right: 6%;
  font-size: 0.8rem;
  opacity: 0.9;
}

.delete-button:hover {
  font-size: 0.85rem;
  transition: 0.1s;
  transition-timing-function: ease-in;
  cursor: pointer;
  opacity: 0.95;
}

@media screen and (max-width: 500px) {
  .delete-button {
    font-size: 0.5rem;
  }
}

.listItem {
  list-style-type: none;
  width: fit-content;
  margin: 5vh auto;
  display: flex;
}

.listItem:hover .viewMore {
  display: inline-block;
}

.nonPurchasedItem {
  padding: 10px;
  margin: 10px;
  border-radius: 8%;
}

.nonPurchasedItem:hover,
.purchasedItem {
  padding: 10px;
  margin: 10px;
  border-radius: 8%;
  text-decoration: line-through;
  cursor: pointer;
  opacity: 0.8;
}

.viewMore {
  background-color: #fff;
  border-radius: 8%;
  padding: 10px;
  display: none;
  color: #000;
  height: fit-content;
  margin: auto 0 auto 20px;
}

.listFrame {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 2px 2px 10px var(--black);
  border-radius: 2px;
  width: 90vw;
  min-height: 90vh;
  height: 100%;
  justify-content: space-evenly;
  background-color: var(--green);
  border: 1px solid var(--black);
  padding: 5vw;
}

.listFrame > .listTitle {
  flex: 0 0 100%;
}

.shoppingCart {
  font-size: 2rem;
}

.soonItems li {
  background-color: var(--white);
}

.kindOfSoonItems li {
  background-color: var(--brown);
}

.notSoonItems li {
  background-color: var(--red);
}

.inactiveItems li {
  background-color: var(--yellow);
}

.itemsLabel {
  border-bottom: 2px dotted var(--black);
  margin: 4vh;
}
/* Add View Specific Styling */

.daysButtons {
  margin-top: 5vh;
}

.daysButtons input[type='radio'] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.daysButtons label {
  display: inline-block;
  padding: 10px 20px;
  margin: 1vh;
  opacity: 0.9;
  font-size: 0.9rem;
  border: 2px solid #000;
}

.daysButtons input[type='radio']:focus + label,
.daysButtons input[type='radio']:checked + label,
.daysButtons label:hover {
  opacity: 1;
  box-shadow: 2px 2px 3px #000;
  font-size: 1rem;
  cursor: pointer;
}

#soonButton {
  background-color: var(--white);
}

#prettySoonButton {
  background-color: var(--yellow);
}

#notSoonButton {
  background-color: var(--pink);
}

.BackButton {
  display: flex;
  position: absolute;
  top: 1vh;
  left: 4vh;
  background: none;
}

.BackButton_List {
  font-size: 3rem;
  color: #000;
  text-decoration: none;
  background: none;
  border: none;
}

.BackButton_List:hover {
  font-size: 3rem;
  transform: scale(1.2);
  transition: 0.1s;
  transition-timing-function: ease-in;
  box-shadow: none;
}

/* Item Details Specific Styling  */

/* Other Components/Views Specific Styling */

/* Navbar Component Styling */

.Navbar {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  justify-content: space-around;
  width: 100vw;
  background-color: #628e9c;
  box-shadow: 10px 0 8px var(--black);
}

.NavItem {
  color: #000;
  background-color: var(--brown);
  font-size: 1.2rem;
  line-height: 8vh;
  border: 1px solid var(--black);
  width: 50vw;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 8vh;
}

.NavItem:hover {
  font-size: 1.3rem;
  box-shadow: inset 0px 0px 5px var(--black);
  transition: 0.1s;
  transition-timing-function: ease-in;
}

.duplicateMessage {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  width: fit-content;
  padding: 10px;
  margin: auto;
  border-radius: 20px;
  background: #ffd800;
  animation: slide 2.5s;
  opacity: 0.7;
}

@keyframes slide {
  0% {
    top: -10%;
  }
  25% {
    top: 15%;
  }
  75% {
    top: 15%;
  }
  100% {
    top: -10%;
  }
}

/* Item Detail Styling */
.itemDetails {
  list-style: none;
}
