* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-family: 'PT Sans Narrow', sans-serif;

}

body {
  background-color: powderblue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15vh;
}

input {
  margin-top: 10vh;
  margin-left: 3vh;
}

.Router {
  display: flex;
  justify-content: flex-start;
  align-items: center;
 
}

.Link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  margin: 1vh;
  padding: 1vh;
  background-color: white;
  font-size: 24px;
}

.Link:visited {
  text-decoration: none;
}

.Link:hover {
  font-size: 25px;
  box-shadow: 1px 1px 2px black;
}

button {
  background-color: white;
  border: 2px solid black;
  padding: 1vh;
  margin: 1vh;
}

button:hover {
  font-size: 23px;
  box-shadow: 1px 1px 2px black;
}